* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Arial", sans-serif;
}

html,
body {
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary: #225497;
  --secondary: #fcc833;
  --variant: #e88322;
}

#canvas {
  border: 1px solid #000;
}

#app {
  position: relative;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.screen {
  position: absolute;
  inset: 0;
  color: #fff;
  overflow: hidden;
}

.selection-screen-title {
  margin-bottom: 1rem;
}

.welcome-screen, .selection-screen {
  background-image: url("./assets/UI/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fade-blur 0.5s forwards;
}

.welcome-screen-wrapper,
.selection-screen-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: saturate(150%) blur(5px);
}

.character-selection-container {
  display: flex;
  align-items: center;
}

.character-selection {
  /* width: 9.5rem;
  height: 220px; */
  width: 275px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.character-selection-wrapper {
  transition: transform .3s ease;
}

.character-item {
  position: relative;
  transition: 1s ease;
  cursor: pointer;
  transition-property: transform, box-shadow, top, opacity;
  transform: scale(0.7);
  opacity: .8;
  margin: -50px 0 -50px 0;
}

.character-item:first-child {
  margin-top: 0;
}

.character-item.active {
  z-index: 2;
  transform: scale(1);
  opacity: 1;
}

.character-item.active .character-badge {
  box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.1), 0 25px 50px 10px rgba(0, 0, 0, 0.6);
}
.character-item.active .character-container {
  box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.1), 0 -15px 50px 10px rgba(0, 0, 0, 0.6);
}

.character-container {
  /* width: 100%; */
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 100%;
  background: linear-gradient(to bottom, var(--secondary), var(--variant));
  border: .4rem solid #fff;
  overflow: hidden;
  box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.character-container img {
  transform: scale(1.35);
  width: 100%;
  height: 100%;
}

.character-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .35rem .75rem;
  background: linear-gradient(to bottom, var(--secondary), var(--variant));
  border: .2rem solid #fff;
  border-radius: .5rem;
  margin-top: -2rem;
  box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.character-badge h3 {
  font-weight: 500;
  font-size: 1.1rem;
}

.character-flag {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .6rem;
  border: .1rem solid #fff;
}

.character-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middle-area {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.simple-selection-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.simple-selection-container > .selection-item + .selection-item{
  margin-left: 2.5rem;
}

.stadium-selection {
  height: 100px;
  cursor: pointer;
  border-radius: .5rem;
  overflow: hidden;
}

.selection-item img {
  transition: border-color .5s ease;
  width: 100%;
  height: 100%;
}

.selection-item input[type="radio"] {
  display: none;
}

.selection-item input[type="radio"]:checked + img {
  border: .3rem solid var(--variant);
}

.ball-selection {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  box-sizing: border-box;
}

.ball-selection input[type="radio"]:checked + img {
  border-radius: 50%;
}

.middle-area h1 {
  font-size: 3rem;
  text-align: center;
}

.game-title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  position: relative;
  animation: slide-down 1s ease forwards;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.btn:active {
  transform: scale(0.92);
}

.btn-play,
.btn-next {
  animation: slide-up 1s ease forwards;
}

.btn-play {
  width: 180px;
}

.btn-next {
  width: 70px;
}

.btn img {
  width: 100%;
}

.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-image: url("./assets/UI/Window.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 400px;
  height: 277px;
}

.modal-show {
  animation: show-dialog cubic-bezier(0.075, 0.82, 0.165, 1) .6s forwards;
}

.modal-disapear {
  animation: show-dialog cubic-bezier(0.075, 0.82, 0.165, 1) .6s forwards reverse;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.modal-body {
  height: 140px;
  width: 100%;
  padding: 1.5rem;
}

.modal-cta {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cta .btn {
  width: 150px;
}

.form-control {
  width: 100%;
  padding: .75rem;
  border-radius: .5rem;
  background: rgba(0,0,0,0.5);
  border: 2px solid var(--variant);
  color: #fff;
  font-size: 1rem;
}

.form-control::placeholder {
  color: #ececec;
}

.level-selection-container {
  margin-top: 1rem;
  display: flex;
}

.level-selection-container > .level-selection + .level-selection {
  margin-left: 1rem;
}

.level-selection-container input[type="radio"] {
  display: none;
}

.level-selection-item {
  border: 1px solid #fff;
  padding: .75rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  color: #e6e6e6;
}

.level-selection input[type="radio"]:checked + .level-selection-item {
  color: #fff;
  background: linear-gradient(to bottom, var(--secondary), var(--variant));
}

@keyframes fade-blur {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(0);
  }
}

@keyframes slide-up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slide-down {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes show-dialog {
  from {
    transform: translateY(-100px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}